
:root {
  /* Project colors */
  --navbarBlack: rgb(33, 33, 33);
  --navbarBlack-80: rgba(33, 33, 33, 0.8);
  --offWhite: rgb(247, 247, 247);
  --lightGreen: rgba(61, 199, 157, 0.8);

  /* Filter Variables */
  --brightness: 50%;
  --contrast: 200%;
  --grayscale: 0%;
  --hue-rotate: 0deg;
  --invert: 0%;
  --saturate: 100%;
  --sepia: 0%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 20px;
  height: 100vh;
  color: var(--navbarBlack);
  font-family: sans-serif;
}
